:root {
    --azul: #244B70;
    --verde: #247037;
    --rojo: #C82424;
    --transparencia: #244b70f0;
    --borderRadius: 3px;
    --blanco: #fefefe;
    --rojoBorrar: #8a4e4e;
    --comprarColor: #aac5db;
}

/*
      --azul: #244B70;
        --verde: #247037;
        --rojo: #C82424;
        --transparencia: #244b70f0;
        --borderRadius: 3px;
        --blanco: #fefefe;
        */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

input {
    border: 1px solid var(--azul);
}

input[type="button"] {
    border: 0;
    border-radius: var(--borderRadius);
    padding: 10px;
}

/* Cabecera */
header {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    color: var(--blanco);
    height: 55px;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    font-size: 1.3em;
    z-index: 8;
}

#logo,
#logo img {
    height: 100%;
}

#user-menu {
    display: flex;
    align-items: center;
}

#user-img {
    margin-left: 10px;
    border-radius: 50%;
}


/* Navegacion */
#nav-menu {
    background-color: var(--transparencia);
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: -20px;
    padding: 0 20px;
    font-weight: lighter;
}

#img-menu {
    height: 30px;
    margin: 12.5px 0px;
}

#nav {
    margin-right: 20px;
    height: calc(100vh - 10px);

}

nav h1 {
    margin-top: 6.5px;
    margin-right: 20px;
    margin-bottom: 50px;
}

#nav div {
    font-size: 1.2em;
    margin: 25px 0;
}

#filtro-todos {
    position: absolute;
    bottom: 0px;
}

/* Sesion */
#cerrar-sesion {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--transparencia);
    width: 300px;
    /* comprobar como queda este tamaño con un usuario*/
    position: fixed;
    top: 75px;
    right: 0px;
}


/* ----------------------------------------------------------------------------------- */
/* Tienda */
#div-logo-carrito,
#carrito {
    background-color: var(--azul);
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#div-logo-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
}

#logo-carrito {
    width: 45px;
}

#carrito {
    padding: 0 4px;
    color: var(--blanco);
    min-width: 420px;
    text-align: center;
    z-index: 6;
}

#cerrar-carrito {
    position: relative;
    left: calc(50% - 20px);
}

#tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em;
}

#contenido-carrito {
    background-color: var(--blanco);
    color: var(--azul);
}

#div-total-carrito {
    padding: 8px 15px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-evenly;

}

#comprar,
#borrar {
    background-color: var(--blanco);
    color: var(--azul);
    border: 0;
    border-radius: var(--borderRadius);
    padding: 10px;
    margin-bottom: 15px;
    width: 48%;
    font-weight: bolder;
}

#comprar:hover {
    background-color: var(--comprarColor);
    color: var(--azul);
}

#borrar:hover {
    background-color: var(--rojoBorrar);
    color: var(--blanco);
}

td,
th {
    padding: 0 10px;
}

.count {
    text-align: center;
    color: var(--azul);
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count>p {
    width: 100%;
    margin: 0;
}

.count input {
    background-color: var(--blanco);
    color: var(--azul);
    padding: 0;
    font-size: 1.2em;

}

/* ----------------------------------------------------------------------------------- */
/* Productos */
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-productos,
#div-carrousel {
    display: flex;
    /* Ojo como se reparten cuando cuando no es divisible entre 4 */
    justify-content: space-evenly;
    margin: 10px;
}

#div-carrousel {
    border: 4px solid var(--azul);
    border-radius: var(--borderRadius);
    max-width: 91vw;
    min-width: 316px;
    overflow-x: hidden;
}

#div-productos {
    flex-wrap: wrap;
}

#div-productos>div,
#div-carrousel>div {
    height: 290px;
    width: 230px;
    margin: 18px 25px;
    padding: 18px;
    border-radius: var(--borderRadius);
}

#div-productos>div {
    border: 4px solid var(--azul);
    color: var(--azul);
}

#div-carrousel>div {
    background-color: var(--azul);
    color: var(--blanco);
}

#div-carrousel .addBag {
    background-color: var(--blanco);
    color: var(--azul);
}

#div-productos .addBag {
    background-color: var(--azul);
    color: var(--blanco);
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardImg {
    width: 230px;
    height: 170px;
    margin-bottom: 16px;
    border-radius: var(--borderRadius);
}

.addBag {
    background-color: var(--azul);
    margin-bottom: 16px;
}

#div-carrousel .addBag:hover,
#div-productos .addBag:hover {
    background-color: var(--comprarColor);
    border: 2px solid var(--azul);
    padding: 8px;
    color: var(--azul);
}

/* ----------------------------------------------------------------------------------- */
/* Modales */

.modal-login,
.modal-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--transparencia);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-weight: lighter;
}

.modal-login>div,
.modal-register>div {
    text-align: center;
    background-color: var(--blanco);
    color: var(--azul);
    padding: 35px;
    min-width: 450px;
    border-radius: var(--borderRadius);
}

.form {
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

.close-modal {
    position: relative;
    left: 50%;
}

.modal-login h1,
.modal-register h1 {
    margin-top: 0;
}

#iniciar,
#crear {
    margin-top: 35px;
    background-color: var(--azul);
    color: var(--blanco);
}

.clickeable {
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------- */
/* Animación */
#contador {
    position: fixed;
    right: 28px;
    bottom: 87px;
    z-index: 2;
}


.count-dot {
    stroke-width: 25px;
    stroke-linecap: round;
    animation: dot-grow 1s;
}

@keyframes dot-grow {
    0% {
        stroke-width: 0px;
    }
    /* 15% {
      stroke-width: 0px;
    }
    20% {
      stroke-width: 0px;
    } */
    100% {
        stroke-width: 25px;
    }
}
.move {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    color: #fefefee7
}