/*  azul: #244B70
    verde: #247037
    rojo: #C82424
    transparencia:94% */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}
input{
    border: 1px solid #244B70;
}
input[type="button"]{
    border: 0;
    border-radius: 3px;
    padding: 10px;
}

/* Cabecera */
header {
    background-color: #244B70;
    display: flex;
    justify-content: space-between;
    color: #fefefe;
    height: 55px;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    font-size: 1.3em;
}

#logo,
#logo img {
    height: 100%;
}

#user-menu{
    display: flex;
    align-items: center;
}

#user-img {
    margin-left: 10px;
    border-radius: 50%;
}


/* Navegacion */
#nav-menu {
    background-color: rgba(36, 75, 112, 0.94);
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: -20px;
    padding: 0 20px;
    font-weight: lighter;
}

#img-menu {
    height: 30px;
    margin: 12.5px;
}

#nav {
    margin-right: 20px;
    height: calc(100vh - 10px);

}

nav h1 {
    margin-top: 6.5px;
    margin-bottom: 50px;
}

#nav div {
    font-size: 1.2em;    
    margin: 25px 0;
}

#filtro-todos {
    position: absolute;
    bottom: 0px;
}

/* Sesion */
#cerrar-sesion {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(36, 75, 112, 0.94);
    width: 300px;
    /* comprobar como queda este tamaño con un usuario*/
    position: fixed;
    top: 75px;
    right: 0px;
}


/* ----------------------------------------------------------------------------------- */
/* Tienda */
#logo-carrito,
#carrito {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#carrito {
    padding: 0 4px;
    background-color: #244B70;
    color: #fefefe;
    min-width: 420px;
    text-align: center;
}

#cerrar-carrito {
    position: relative;
    left: calc(50% - 20px);
}

#tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em;
}

#contenido-carrito {
    background-color: #fefefe;
    color: #244B70;
}

#div-total-carrito {
    padding: 8px 15px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    justify-content: space-evenly;

}

#comprar, #borrar{
    background-color: #fefefe;
    color: #244B70;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
    width: 48%;
    font-weight: bolder;
}

td, th{
    padding: 0 10px;
}
.count{
    text-align: center;
    color: #244B70;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.count>p{
    width: 100%;
    margin: 0;
}
.count input{
    background-color: #fefefe;
    color: #244B70;
    padding: 0;
    font-size: 1.2em;

}
/* ----------------------------------------------------------------------------------- */
/* Productos */
#div-productos,
#div-carrousel {
    display: flex;
    /* Ojo como se reparten cuando cuando no es divisible entre 4 */
    justify-content: space-evenly;
    margin: 10px;    
}
#div-carrousel{
    border: 4px solid #244B70;
    border-radius: 3px;
}
#div-productos{
    flex-wrap: wrap;
}
#div-productos>div, #div-carrousel>div {
    height: 290px;
    width: 230px;
    margin: 18px;
    padding: 18px;
    border-radius: 3px;
}
#div-productos>div{
    border: 4px solid #244B70;
    color: #244B70;
}
#div-carrousel>div {
    background-color: #244B70;
    color:#fefefe;
}
#div-carrousel .addBag{
    background-color: #fefefe;
    color: #244B70;
}
#div-productos .addBag{
    background-color: #244B70;
    color: #fefefe;
}

.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* ----------------------------------------------------------------------------------- */
/* Modales */

.modal-login,
.modal-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(36, 75, 112, 0.94);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-weight: lighter;
}

.modal-login>div,
.modal-register>div {
    text-align: center;
    background-color: #fefefe;
    color: #244B70;
    padding: 35px;
    border-radius: 3px;
}
.form{
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

.close-modal{
    position: relative; 
    left: 50%;
}

.modal-login h1,
.modal-register h1{
    margin-top: 0;
}

#iniciar, #crear{
    margin-top: 35px;
    background-color: #244B70;
    color:#fefefe;
}

.clickeable {
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------- */
/* OCULTAR */
/* Navegacion */
/* nav {
    display: none;
} */

/* Cerrar Sesion */
/* #cerrar-sesion {
    display: none;
} */

/* Tienda */
/* #carrito {
    display: none;
} */

/* Modales */
/* .modal-login {
    display: none;
} */
/* .modal-register {
    display: none;
} */